#app {
  // 这里是侧边栏的样式
  /deep/element.style{
    padding-left: 20px;
    color: rgb(90, 87, 87);
    background-color: green !important;
    }
    .main-container {
      transition: margin-left .28s;
      margin-left: 120px;
      position: relative;
      min-height: 534px !important;
    }
  
    .sidebar-container {
      transition: width 0.28s;
      width: 120px !important;
      background-color: $menuBg;
      height: 100%;
      max-height: 1000px !important;
      position: fixed;
      font-size: 0px;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 1001;
      overflow: hidden;
      box-shadow:0px 6px 5px 0px rgba(204,204,204,0.1);
      // reset element-ui css
      .horizontal-collapse-transition {
        transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
      }
  
      .scrollbar-wrapper {
        overflow-x: hidden !important;
      }
  
      .el-scrollbar__bar.is-vertical {
        right: 0px;
      }
  
      .el-scrollbar {
        height: 100%;
      }
  
      &.has-logo {
        .el-scrollbar {
          height: calc(100% - 50px);
        }
      }
  
      .is-horizontal {
        display: none;
      }
      a {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        // height: 8.3vh;
        min-height: 45px !important;
        .sidebar-title{
          font-family:Microsoft YaHei;
          font-weight:400;
          color:rgba(0,0,0,1);
          font-size: 16px !important;
        }
        &.router-link-exact-active,
        &.router-link-active {
          z-index: 2019;
        }
        .el-menu-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          line-height: 20px;
          justify-content: center;
          font-family:Microsoft YaHei;
          font-weight:400;
          color:rgba(102,102,102,1);
          height: 70px;
        }
        .is-active {
          background-color: rgba(95,175,228,1) !important;
        }
      }
      
      .svg-icon {
        margin-right: 0px;
        font-size: 22px;
      }
      span {
        margin-top: 8px;
        height: 16px;
        font-size: 14px;;
      }
      .el-menu {
        border: none;
        height: 100%;
        width: 100% !important;
      }
  
      // menu hover
      .submenu-title-noDropdown,
      .el-submenu__title {
        &:hover {
          background-color: $menuHover !important;
          background:rgba(95,175,228,1)!important;
          color:#fff !important;
        opacity:0.4 !important;
        color: #fff !important;
        }
      }
  
      .is-active>.el-submenu__title {
        color: $subMenuActiveText !important;
      }
  
      & .nest-menu .el-submenu>.el-submenu__title,
      & .el-submenu .el-menu-item {
        min-width: $sideBarWidth !important;
        background-color: $subMenuBg !important;
        display: flex;
        // background-color: #fff !important;
        &:hover {
          background-color: $subMenuHover !important;
          color: #fff !important;
        }
      }
    }
  //
    .hideSidebar {
      .sidebar-container {
        width: 54px !important;
        min-width: 54px !important;
      }
  
      .main-container {
        margin-left: 54px;
        max-height: 534px !important;
        // max-width: 92vw !important;
        // overflow-x: hidden !important;
        overflow: hidden !important;
        
      }
  
      .submenu-title-noDropdown {
        padding: 0 !important;
        position: relative;
  
        .el-tooltip {
          padding: 0 !important;
          display: flex;
          // background-color: #f00;
          // align-items: center;
          // flex-direction: column;
          // justify-content: center;
          .svg-icon {
            width: 100%;
            margin-top: 24px;
          }
        }
      }
  
      .el-submenu {
        overflow: hidden;
  
        &>.el-submenu__title {
          padding: 0 !important;
  
          .svg-icon {
            margin-left: 0.8vw;
          }
  
          .el-submenu__icon-arrow {
            display: none;
          }
        }
      }
  
      .el-menu--collapse {
        .el-submenu {
          &>.el-submenu__title {
            &>span {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
          }
        }
      }
    }
  
    .el-menu--collapse .el-menu .el-submenu {
      min-width: $sideBarWidth !important;
    }
  
    
  
    .withoutAnimation {
  
      .main-container,
      .sidebar-container {
        transition: none;
      }
    }
  }
  
  // when menu collapsed(当菜单收起)
  .el-menu--vertical {
    &>.el-menu {
      .svg-icon {
        margin-right: 0.8vw;
      }
    }
  
    .nest-menu .el-submenu>.el-submenu__title,
    .el-menu-item {
      &:hover {
        // you can use $subMenuHover
        background-color: $menuHover !important;
        background:rgba(95,175,228,1)!important;
        color: #fff !important;
        // opacity:0.4 !important;
      }
    }
  
    // the scroll bar appears when the subMenu is too long
    >.el-menu--popup {
      max-height: 100vh;
      overflow-y: auto;
  
      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }
  
      &::-webkit-scrollbar {
        width: 6px;
      }
  
      &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
      }
    }
  }
//   /deep/.el-menu-item .is-active {
//     background-color: red !important;
//  }